html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video:focus {
  outline: none;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video {
  transition: 0.5s filter cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-width: 75%;
}

video[disabled] {
  filter: blur(5px);
  pointer-events: none;
}

.toast:not(.show) {
  pointer-events: none;
}

.toast-container {
  z-index: 1;
}

