extends layout

block scripts
  script(src=BASEURL + "/dist/" + STATIC_MANIFEST['library.js']) 

block content
  main.container
    form#searchForm(action=BASEURL + "/library/search" method="GET")
      .form-group
        input#search.form-control(name="search" placeholder="Search" required autocomplete="off")
      button.btn.btn-primary(type="submit") Submit
    #searchResults.d-flex.flex-column
  #modal.modal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Select Content
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
  #confirmModal.modal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Confirm
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
        .modal-footer
          button.yes.btn.btn-primary(type='button') Yes
          button.no.btn.btn-danger(type='button' data-bs-dismiss='modal') No
