extends layout

block scripts
  script(src=BASEURL + "/dist/" + STATIC_MANIFEST['manage.js'])

block content
  main.container.d-flex.flex-column.text-white
    h1 Content
    each element in contents
      button.choose.my-1.btn.btn-primary(type="submit" data-content=element)=element
    h4="Pending: " + pending
