extends layout

block content
  .video-container.mh-100.mw-100.d-flex.justify-content-center
    video#video.p-1(controls preload="metadata" controlsList="nodownload" disabled).mh-100.mw-100
      source(src="https://anthonyting.xyz/test/video.mp4" type="video/mp4")
      track(label="English" kind="subtitles" srclang="en" src="https://anthonyting.xyz/test/video.en.vtt" default)
