extends layout

block content
  main.container-fluid.d-flex.justify-content-center.flex-column.text-white
    .video-container.mh-100.mw-100.d-flex.justify-content-center
      video#video.p-1(controls preload="metadata" controlsList="nodownload" disabled).mh-100.mw-100
        source(src="https://" + SITE_URL + "/test/video.mp4" type="video/mp4")
        track(label="English" kind="subtitles" srclang="en" src="https://" + SITE_URL + "/test/video.en.vtt" default)
    block ui
