extends layout

block links

block scripts
  script(src="/abcde/javascripts/stream-receiver.js")

block content
  button(id='begin') Begin
  video(id="video" controls preload="metadata")
    source(src="https://anthonyting.xyz/test/video.mkv" type="video/mp4")
    track(label="English" kind="subtitles" srclang="en" src="https://anthonyting.xyz/test/video.en.vtt" default)
