extends layout

block scripts
  script(src="/javascripts/receiver.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.4.0/adapter.min.js" integrity="sha512-Q1CI1+VPudwzIg95qTgAybfooiw87q1fTbYlnjzqUPgKxUJjZMMS2I9bXQtq1GWH4WT38E0VOvHpkCS10hz49g==" crossorigin="anonymous")

block content
  button(id='start') Start
  button(id='stop') Stop
  video(id='remote-video' autoplay muted controls width='80%')